name: Deploy Pustani ke AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Ambil Kodingan Terbaru
        uses: actions/checkout@v3

      - name: 2. Kirim SEMUA File ke AWS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_KEY }}
          source: "."                     # Titik artinya "Kirim Semua Folder & File"
          target: "/var/www/html/pustani" # Tujuan di server
          # Baris 'strip_components' DIHAPUS agar struktur foldernya tetap utuh

      - name: 3. Finalisasi Izin File
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_KEY }}
          script: |
            # Pastikan user ubuntu punya akses penuh
            sudo chown -R ubuntu:ubuntu /var/www/html/pustani
            sudo chmod -R 775 /var/www/html/pustani
            echo "File baru (termasuk Docker) sudah sampai!"