name: Deploy Pustani ke AWS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 1. Ambil Kodingan Terbaru
        uses: actions/checkout@v3

      - name: 2. Kirim SEMUA File ke AWS
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_KEY }}
          source: "."                     # Titik artinya "Kirim Semua Folder & File"
          target: "/var/www/html/pustani" # Tujuan di server
          # Baris 'strip_components' DIHAPUS agar struktur foldernya tetap utuh

      - name: 3. Finalisasi & Restart Docker
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ${{ secrets.AWS_USER }}
          key: ${{ secrets.AWS_KEY }}
          script: |
            # Masuk ke folder project
            cd /var/www/html/pustani
            
            # Ubah izin file (Penting untuk upload gambar)
            sudo chown -R www-data:www-data /var/www/html/pustani
            sudo chmod -R 775 /var/www/html/pustani

            # Restart Aplikasi dengan Build Terbaru
            # Ini akan otomatis mendeteksi perubahan di docker-compose atau kodingan
            docker-compose down
            docker-compose up -d --build
            
            echo "Deploy Selesai! Aplikasi sudah live dengan update terbaru."